{% extends "home/base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h3 class="card-title">Welcome {{ user.first_name }}!</h3>
                        <p class="card-text" style="font-size: 1.1rem;">Select a tool below</p>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <p>
                            <button class="btn btn-description btn-block dropdown-toggle mt-3" type="button" data-toggle="collapse" data-target="#tracks_to_playlists" aria-expanded="false">
                                Tracks to Playlists
                            </button>
                        </p>
                        <div class="collapse" id="tracks_to_playlists">
                            <div class="card-text tool-description">
                                Pick a playlist and go through it track-by-track, choosing another playlist to add each track to
                            </div>
                            <a class="btn btn-primary my-4" href="{% url 'tracks_to_playlists:select' %}">Select</a>
                        </div>
                        <hr style="width: 85%;">
                        <p>
                            <button class="btn btn-description btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#combine_playlists" aria-expanded="false">
                                Combine Playlists
                            </button>
                        </p>
                        <div class="collapse" id="combine_playlists">
                            <div class="card-text tool-description">
                                Combine multiple playlists, either into an existing playlist or into a new one
                            </div>
                            <a class="btn btn-primary my-4" href="{% url 'combine_playlists:start' %}">Select</a>
                        </div>
                        <hr style="width: 85%;">
                        <p>
                            <button class="btn btn-description btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#genre_to_playlist" aria-expanded="false">
                                Genre to Playlist
                            </button>
                        </p>
                        <div class="collapse" id="genre_to_playlist">
                            <div class="card-text tool-description">
                                Create a new playlist containing every song of a chosen genre from your selected playlist
                            </div>
                            <a class="btn btn-primary my-4" href="{% url 'genre_to_playlist:start' %}">Select</a>
                        </div>
                        <hr style="width: 85%;">
                        <p>
                            <button class="btn btn-description btn-block dropdown-toggle mt-3" type="button" data-toggle="collapse" data-target="#shared_to_playlist" aria-expanded="false">
                                Shared to Playlist
                            </button>
                        </p>
                        <div class="collapse" id="shared_to_playlist">
                            <div class="card-text tool-description">
                                Create a new playlist containing the songs that are common to each of your selected playlists
                            </div>
                            <a class="btn btn-primary my-4" href="{% url 'shared_to_playlist:start' %}">Select</a>
                        </div>
                        <hr style="width: 85%;">
                        <p>
                            <button class="btn btn-description btn-block dropdown-toggle mt-3" type="button" data-toggle="collapse" data-target="#playlist_stats" aria-expanded="false">
                                Playlist Stats
                            </button>
                        </p>
                        <div class="collapse" id="playlist_stats">
                            <div class="card-text tool-description">
                                Display various stats about your selected playlist
                            </div>
                            <a class="btn btn-primary my-4" href="{% url 'playlist_stats:start' %}">Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content%}