{% extends "home/base.html" %}
{% block title %}
    <title>Home</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h3 class="card-title">Welcome {{ user.first_name }}!</h3>
                        <p class="card-text">Pick a tool from the sidebar</p>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <h5 class="card-text font-weight-bold">Tracks to Playlists</h5>
                        <p>Pick a playlist and then go through it track-by-track, choosing another playlist to add the track to</p>
                        <hr>
                        <h5 class="card-text font-weight-bold">Combine Playlists</h5>
                        <p>Select two or more playlists and combine them, either into another playlist or a new one</p>
                        <hr>
                        <h5 class="card-text font-weight-bold">Genre to Playlist</h5>
                        <p>Select a playlist, then create a new playlist containing all tracks of a chosen genre from the select playlist</p>
                        <hr>
                        <h5 class="card-text font-weight-bold">Live Songs to Playlist</h5>
                        <p>(Unavailable)</p>
                        <hr>             
                    </div>
                </div>
            </div>
            <div class="col-l mt-3">
                <div class="sidebar mb-3">
                    <h3>Tools</h3>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light"><a href="{% url 'tracks_to_playlists:select' %}">Tracks to Playlists</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'combine_playlists:start' %}">Combine Playlists</a></li>
                        <li class="list-group-item list-group-item-light"><a href="{% url 'genre_to_playlist:start' %}">Genre to Playlist</a></li>
                        <li class="list-group-item list-group-item-light"><a href="#">Live Songs to Playlist</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock content%}