{% extends "home/base.html" %}
{% block title %}
    <title>Spotify Logged In</title>
{% endblock title%}
{% block content %}
{% if request.user.is_authenticated %}
    <main role="main" class="container">
        <div class="card welcome-card">
            <div class="card-body text-center">
                <h3 class="card-title">Welcome {{ user.display_name }}!</h3>
                <p class="card-text">Logged in with email: {{ user.email }}</p>
            </div>
        </div>
    </main>
{% else %}
    <p>Not logged in to site</p>
{% endif %}
{% endblock content%}