{% extends "home/base.html" %}
{% load static %}
{% block title %}
    <title>Combine Playlists</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        {% if premium %}
            <div class="row">
                <div class="col-md card welcome-card">
                    <div class="card-body text-center">
                        <h3 class="card-title">Shared to Playlist</h3>
                        <p class="card-text">Select two or more playlists and create a new playlist containing the songs common to all of them</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md card mt-3">
                    <div class="card-body">
                        <h5 class="text-center">Select playlist(s):</h5>
                        <form action="{% url 'shared_to_playlist:complete' %}" method="post">
                            {% csrf_token %}
                                <div class="form-check mb-4 text-center">
                                    {% for playlist in playlists %}
                                    <div class="m-3 col-6 mx-auto">
                                        <input type="checkbox" class="playlist-check form-check-input" id="check {{ forloop.counter0 }}" name="playlist_checkbox" value="{{ forloop.counter0 }}">
                                        <label class="btn-lg btn-block btn-check form-label" for="check {{ forloop.counter0 }}">{{ playlist }}</label>
                                    </div>
                                    {% endfor %}
                                    <div class="m-3 col-6 mx-auto">
                                        <input type="checkbox" class="playlist-check form-check-input" id="check liked" name="playlist_checkbox" value="liked">
                                        <label class="btn-lg btn-block btn-check form-label" for="check liked">Your Liked Songs</label>
                                    </div>
                                </div>
                                <div class="text-center col-6 mx-auto mt-3">
                                    <h5 class="text-center">Enter the name of the new playlist below:</h5>
                                    <input type="text" class="form-control text-center mt-2" name="new_playlist" blank=False>
                                    <button type="submit" class="btn btn-primary mt-3" name="new_playlist_btn">Submit</button>
                                </div>
                                {% if error %}
                                <p class="text-center" style="color: red;">{{ error_text }}</p>
                                {% endif %}
                        </form>      
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md card welcome-card">
                    <div class="card-body text-center">
                        <h3 class="card-title">Shared to Playlist</h3>
                        <p class="card-text" style="color: rgb(156, 3, 3);">Sorry, this feature requires a premium Spotify account</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock content%}