{% extends "home/base.html" %}
{% load static %}
{% block title %}
    <title>Complete</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md card welcome-card">
                <div class="card-body text-center">
                    <h3 class="card-title">Combine Playlists</h3>
                    <p class="card-text">Playlists have been successfully combined</p>
                    <a href="{% url 'home:index' %}" class="btn btn-primary" style="width: 10rem;">Home</a>
                    <a href="{% url 'combine_playlists:start' %}" class="btn btn-primary" style="width: 10rem;">Combine More</a>
                </div>
            </div>
        </div>

    </main>
{% endblock content%}