{% extends "home/base.html" %}
{% load static %}
{% block title %}
    <title>Complete</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md card welcome-card">
                <div class="card-body text-center">
                    <h3 class="card-title">Genre to Playlist</h3>
                    <p class="card-text">Playlist has been successfully created</p>
                    <a href="{% url 'index' %}" class="btn btn-primary">Home</a>
                    <a href="{% url 'genre_to_playlist:start' %}" class="btn btn-primary">Create More</a>
                </div>
            </div>
        </div>

    </main>
{% endblock content%}