body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-spgreen {
  background-color: #1DB954;
}

.navbar-brand {
    font-size: 2rem;
}

.site-header, .btn-dropdown, .nav-link, .nav-link:hover, .btn-dropdown:hover, .btn-dropdown:focus {
  color: #ffffff !important;
  font-size: 1.1rem;
  box-shadow: none;
  font-weight: 500;
}

.btn-description {
  background-color: #ffffff;
}

.btn-description:hover {
  background-color: #fafafa;
}

.btn-description, .btn-description:hover, .btn-description:focus {
  font-size: 1.3rem;
  box-shadow: none;
}

.tool-description {
  border: none;
}

.sidebar {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  text-align: center;
}

li > a, a:hover {
  color: #128b3c;
}

.socials {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.btn-primary {
  background-color: #1DB954;
  border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128b3c !important;
  box-shadow: none !important;
}

.btn-check {
  background-color: #1DB954;
  border: none;
  color: #ffffff;
  box-shadow: none;
}

option:hover {
  background-color: #128b3c;
}

.btn-check:active {
  background-color: #128b3c;
}

.track {
  font-size: 1.3rem;
}

.artist {
  font-size: 1rem;
}

.btn-secondary {
  background-color: #b12323;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #8f1c1c !important;
}

.playlist-check {
  display: none;
}

.playlist-check:checked + .btn-check {
  background-color: #128b3c;
}
