body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-spgreen {
  background-color: #1DB954;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-nav {
    font-size: 1.1rem;
}

.welcome-card {
    margin-top: 10px;
    
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.btn-primary {
    background-color: #1DB954;
    border: none;
}

.btn-primary:hover {
    background-color: #128b3c;
}


