{% extends "home/base.html" %}
{% load static %}
{% block title %}
    <title>Complete</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md card welcome-card">
                <div class="card-body text-center">
                    <h3 class="card-title">Tracks to Playlists</h3>
                    <p class="card-text">You've gone through each track</p>
                    <a href="{% url 'home:index' %}" class="btn btn-primary" style="width: 11rem;">Home</a>
                    <a href="{% url 'tracks_to_playlists:select' %}" class="btn btn-primary" style="width: 11rem;">Pick Another Playlist</a>
                </div>
            </div>
        </div>

    </main>
{% endblock content%}