{% extends "home/base.html" %}
{% block title %}
    <title>Tracks to Playlists</title>
{% endblock title%}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md card welcome-card">
                <div class="card-body text-center">
                    <h3 class="card-title">Tracks to Playlists</h3>
                    <p class="card-text">Go through each track of a playlist and pick another playlist to quickly add them to</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md card mt-3 mr-3 p-0 align-self-start">
                <div class="card-header text-center" style="height: 3rem;">
                    <p>Currently Playing:</p>
                </div>
                <div class="card-body text-center">
                    <p class="card-text track">{{ track }}</p>
                    <p class="card-text artist">{{ artist }}</p>
                    <img src="{{ image }}" class="card-img" style="width: 70%;">
                </div>
            </div>
            <div class="col-md">
                <div class="card mt-3 p-0 align-self-start">
                    <div class="card-header text-center" style="height: 3rem;">
                        <p>Playlists:</p>
                    </div>
                    <div class="card-body">
                        {% for playlist in playlists %}
                        <div class="m-3 text-center">
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn-primary btn-lg btn-block" name="playlist" value="{{ forloop.counter }}">{{ playlist }}</button>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card mt-3 align-self-end">
                    <div class="card-body">
                        <div class="text-center">
                            <form method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn-primary btn-lg btn-block btn-secondary" name="skip" value="">Skip</button>
                            </form>
                        </div>
                        <br>
                        <div class="text-center">
                            <a class="btn-primary btn-lg btn-block btn-secondary disabled">Save and Exit</a>
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </main>
{% endblock content%}